
@font-face {
  font-family: 'RabbidHighwaySignII';
  src: url('RabbidHighwaySignII.eot?#iefix') format('embedded-opentype'),  url('RabbidHighwaySignII.otf')  format('opentype'),
	     url('RabbidHighwaySignII.woff') format('woff'), url('RabbidHighwaySignII.ttf')  format('truetype'), url('RabbidHighwaySignII.svg#RabbidHighwaySignII') format('svg');
  font-weight: normal;
  font-style: normal;
}
