<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tbody>
        <tr>
            <td align="center" style="background-color:#edf1f2">
                <table cellpadding="0" cellspacing="0" border="0" width="600" style="padding:25px 0;">
                    <tbody>
                        <tr>
                            <td align="center" width="600" style="background-color:#ffffff;min-width:800px">
                                <!-- heading row -->
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding:55px 35px">
                                    <tr>
                                        <td>
                                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <img src="cid:logo" alt="" style="display:block;width:100px;margin:auto;">
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align="right">
                                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="text-align:right">
                                                <tr>
                                                    <td>
                                                        <?php 
                                                            //$date = date("Y-m-d");
                                                            //echo $date;
                                                        ?>
                                                    </td>
                                                </tr>
                                                 <tr>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- /heading row -->
                                <!-- cover row -->
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="">
                                    <tr>
                                        <td>
                                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <img src="cid:header" alt="" style="display:block;width:100%">
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- /cover row -->
                                <!-- welcome row -->
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding:25px 35px">
                                    <tr>
                                        <td>
                                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                <tr>
                                                    <td  align="center">
                                                        <h3 style="margin:2px">Dear</h3>
                                                        <h2 style="margin:2px">Ruchira Cooray</h2>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- /welcome row -->
                                <!-- teram details row -->
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color:#ffffff; padding:55px 35px">
                                    <tr>
                                        <td>
                                            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
                                                <tr>
                                                    <td style="text-align:center">
                                                        <p style="text-align:center">
                                                            Request
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center">
                                                        <!-- <a href="#" style="padding:12px 34px; background-color:#1ab900; border-radius:3px; color:#ffffff;text-decoration: none;margin: 25px 0; display: inline-block;">Hotels infos</a> -->
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color:#ffffff; padding:55px 35px">
						                                    <tr>
						                                        <td>
						                                            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
						                                                <tr>
						                                                    <td>
						                                                        <p>
						                                                            Name
						                                                        </p>
						                                                    </td>
						                                                    <td>
						                                                        <p>
						                                                            %testname%
						                                                        </p>
						                                                    </td>
						                                                </tr>

						                                                <tr>
						                                                    <td>
						                                                        <p>
						                                                            Email
						                                                        </p>
						                                                    </td>
						                                                    <td>
						                                                        <p>
						                                                            %testemail%
						                                                        </p>
						                                                    </td>
						                                                </tr>

						                                                <tr>
						                                                    <td>
						                                                        <p>
						                                                            Telephone
						                                                        </p>
						                                                    </td>
						                                                    <td>
						                                                        <p>
						                                                            %testtp%
						                                                        </p>
						                                                    </td>
                                                                        </tr>

						                                            </table>
						                                        </td>
						                                    </tr>
						                                </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- /teram details row -->
                                <!-- footer details row -->
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color:#eeeeee; padding:55px 35px">
                                    <tr>
                                        <td>
                                            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <p style="text-align:center">Sevensigns.lk</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- /footer details row -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>