
img {
    max-width: 100%;
}
iframe, object, embed{
width: 100%;
}
div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 600px;
    height: 500px;
    margin-right: 190px;
    }
div.absolutetwo {
    position: absolute;
    top: 195px;
    right: 0;
    width: 526px;
    height: 368px;
    margin-right: 460px;
    background-color: whitesmoke;
    }
div.inter {
    position: absolute;
    width: 426px;
    height: 268px;
    margin:50px;
    background-color: whitesmoke;
    }
div.footer {
    margin-top: 100px;
    margin-left: 80px;
}

@font-face {
    font-family: 'RabbidHighwaySignII';
    src: url('font/RabbidHighwaySignII/RabbidHighwaySignII.eot?#iefix') format('embedded-opentype'),  url('font/RabbidHighwaySignII/RabbidHighwaySignII.otf')  format('opentype'),
            url('font/RabbidHighwaySignII/RabbidHighwaySignII.woff') format('woff'), url('font/RabbidHighwaySignII/RabbidHighwaySignII.ttf')  format('truetype'), url('font/RabbidHighwaySignII/RabbidHighwaySignII.svg#RabbidHighwaySignII') format('svg');
    font-weight: normal;
    font-style: normal;
    }
p.headone {
    font-family: RabbidHighwaySignII;
    font-size: 63px;
    color: black;
    }
p.middleone {
    font-family: RabbidHighwaySignII;
    font-size: 53px;
    color: black;
    }
p.lastone {
    font-family: RabbidHighwaySignII;
    font-size: 41px;
    color: black;
    }
p.lasttwo {
    font-family: RabbidHighwaySignII;
    font-size: 21px;
    color: black;
    }
p.headtwo {
    font-family: 'Poppins';
    font-size: 35px;
    color: black;
    }
p.headthree {
    color: white;
    }
p.tableparaone {
    font-family: 'Poppins';
    font-size: 18px;
    color: white;
    font-weight: bold;
    }
p.tableparatwo {
    font-family: 'Poppins';
    font-size: 16px;
    color: white;
    }
P.lablelastone {
    font-family: 'Poppins';
    font-size: 18px;
    color: white;
    }
p.coppright {
    font-family: 'Poppins';
    font-size: 16px;
    color: white;
    }
P.lablelasttwo {
    font-family: 'Poppins';
    font-size: 37px;
    color: white;
    }
a.headlink {
    background-color: #3584f1;
    font-family: 'Poppins';
    color: white;
    padding: 14px 25px;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-weight: bold;
    }
a.tablelink {
    font-family: 'Poppins';
    color: white;
    font-size: 16px;
    }
a.headlinktwo {
    background-color: #3584f1;
    font-family: 'Poppins';
    color: white;
    padding: 14px 25px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 40px;
    font-weight: bold;
    }  
a.navilink {
    background-color: #3584f1;
    font-family: 'Poppins';
    color: white;
    padding: 12px 12px;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    border-radius: 40px;
    }  
    
table {
    margin: 80px;
    }
    .contact-form button {
        margin-top: 42px;
    }
    .contact-form button i {
        margin-left: 10px;
    }
    .contact-form {
        background: #ffffff;
        border-radius: 10px;
        padding: 30px 70px;
        color: rgb(53, 132, 240);
        margin-left: 0px;
        font-size: 14px;
    }
    
    .contact-form p {
        margin: 15px 0 45px;
    }
    
    .contact-form h3 span {
        display: block;
    }
    .about-box a:hover {
        color: #000;
    }
input:focus,
button:focus {
    outline: none;
}
input[type="text"],
input[type="email"],
input[type="number"] {
	background: transparent;
    width: 100%;
    border: none;
    font-family: 'Poppins';
    border-bottom: 1px solid #a1a1a1;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}
input::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
}
p.lastoneex {
    font-family: RabbidHighwaySignII;
    font-size: 35px;
    color: #000;
}
.button {
    background-color: #3584f1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}